@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
body {
	background-color: #eee;
	font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.Header {
	align-items: center;
	text-align: center;
	background: #90a5e2;
	padding-bottom: 20px;
}

.Header .Logo {
	text-align: center;
	align-items: center;
	width: 30%;
	margin-left: 35vw;
}

.Mesi {
	align-items: center;
	text-align: center;
	display: grid;
	grid-template-rows: 1fr;
	background: #eee;
}

svg {
	width: 100%;
}

path:hover {
	fill: #6e1919;
	cursor: pointer;
}

button {
	background: #3e1010;
	padding: 8px;
	color: #fff;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

button:hover {
	background: #6f1919;
}

.Footer {
	background: #222;
	color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	text-align: center;
}

.Footer h1 {
	color: #eee
}

.Footer a {
	color: #eee;
	text-decoration: none;
}

.Footer a:hover {
	color: #6e1919;
}

@media(min-width: 600px) {
    .Mesi {
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    }
    .Footer {
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    }
}