@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
* {
	margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
	background-color: #eee;
}

.Header {
	text-align: center;
	display: flex 1fr;
	padding-top: 20px;
	padding-bottom: 20px;
}

.Header p {
	margin-left: 13%;
	width: 70%;
	text-align: center;
}

.Header .Logo {
	margin: 0;
	width: 30%;
	margin-left: 35vw;
}

.Mesi {
	display: flex;
	justify-content: center;
	
}

.Harta {
	flex: 1;
}

.titulli {
	margin-left: 20%;
}

.Button {
	width: 50%;
	background-color: #333;
	border: none;
	padding: 5px;
	color: white;
	cursor: pointer;
}

.Button:hover {
	background-color: #6e1919;
}

.Pershkrimi {
	flex: 1;
}

.Pershkrimi h3 {
	padding-bottom: 10px;
}

svg {
	width: 100%;
}

path:hover {
	fill: #6e1919;
	cursor: pointer;
}

.Footer {
	display: flex;
	background: #222;
	width: 100%;
	text-decoration: none;
}

.Footer h1 {
	padding-bottom: 20px;
	color: #eee;
}

.Footer div {
	padding-top: 20px;
	margin-left: 250px;
	flex: 1;
}

.Footer p {
	color: white;
	padding: 2px;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #6e1919;
}

@media only screen and (max-width: 600px) {
	.Mesi {
		display: block;
	}
	.Footer {
		display: block;
		padding: 0;
	}
	.Footer div {
		text-align: center;
		margin: 100px;
		padding: 0;
	}
}